.q {text-align: right;

}
.w {

}
.e {font-family: 'Caveat', cursive;
    text-decoration: underline;
font-size: 35px;
}
.r {font-family: 'Caveat', cursive;
font-size: 25px;
}
.t {font-family: 'Roboto', sans-serif;
font-size: 20px;
}
